/* You can add global styles to this file, and also import other style files */

.truncate-3-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-text {
  display: block;
  width: 200px;      /* Change as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-inner-bg {
  max-width: 300px;
  width: 300px;
}

.tooltip-inner-bg {
  white-space: normal;
}

.tooltip-content {
  max-width: 300px; /* Adjust the maximum width as needed */
  width: max-content; /* Allows the width to be determined by content up to max-width */
  white-space: nowrap;     /* single line */
  overflow: hidden;
  text-overflow: ellipsis;
}